{% extends 'base.html' %}

{% block content %}
<h3>Available Charts</h3>
<ul>
    <li>
        <a href="{{ url_for('chart.book_ratings_chart') }}">Book ratings</a>
    </li>
    <li>
        <a href="{{ url_for('chart.user_books_chart') }}">Number of Books Owned by Users</a>
    </li>
    <li>
        <!-- TODO: Add a link for the route to show the books read per year by users -->
        <a href="{{ url_for('chart.user_year_chart') }}">Books Read per Year by Users</a>
    </li>
    <li>
        <!-- TODO: Add a link for the route to show the books per genre chart -->
        <a href="{{ url_for('chart.books_genre_chart') }}">Books per Genre</a>
    </li>
</ul>
{% endblock %}